$font:(
    cent: center,
    grande: 50px,
    mediana: 24px,
    chica: 18px
);


 $color:(
    c1: black,
    c2: rgb(196, 150, 2),
    c3: white
); 

/* map-get($color, c1); trae el color negro*/

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

/*
.box{
    @include sizes(500px, 200px)
}
*/